<div class="box">
        <div class="margin">
               <b style="color: rgb(116, 148, 130); font-size: 30px">Task Management</b>
               <input type="submit" value="+ Next" class="nextbutton" [disabled]="!allowNewServer" (click)="onCreateServer()">
                
               <!-- <p>{{ allowNewServer }}</p> -->
                <!-- <p>{{ serverCreateStatus }}</p> -->
                <!-- <input type="text" class="form-control" [(ngModel)]="serverName"> -->
                <!-- <p *ngIf="serverCreated; else noServer">Server created is {{ serverName }}</p> -->
                <!-- <ng-template #noServer> -->
                       <!-- <p> No created</p> -->
                <!-- </ng-template> -->
                

        </div>
    </div>